# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# dependencies
/node_modules
/.pnp
.pnp.*
### yarn ###
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
firebase-debug.log*
ui-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# eslint
.eslintcache
eslintReport.html

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
