<!-- Variable pages to sort pages for navigation -->
{% assign pages = site.pages | sort:"weight"  %}

<div class="mdl-layout__drawer mdl-layout--small-screen-only">
	<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
		{% for page in pages %}{% if page.nav %}<a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}{% endfor %}
	</nav>
</div>



<div class="android-header mdl-layout__header mdl-layout__header--waterfall">
	<div class="mdl-layout__header-row">
		<span class="android-title mdl-layout-title">
			<a href="/"><img class="android-logo-image" src="/images/mdl/android-logo.png"></a>
		</span>
		<!-- Add spacer, to align navigation to the right in desktop -->
		<div class="android-header-spacer mdl-layout-spacer"></div>

		<!-- Navigation -->
		<div class="android-navigation-container">
			<nav class="android-navigation mdl-navigation">
				{% for page in pages %}{% if page.nav %}<a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}{% endfor %}
			</nav>
		</div>
		<span class="android-mobile-title mdl-layout-title">
			<img class="android-logo-image" src="/images/mdl/android-logo.png">
		</span>
		<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
			{% for page in pages %}{% if page.nav == nil %}<li class="mdl-menu_item"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>{% endif %}{% endfor %}
		</ul>
	</div>
</div>

<div class="android-drawer mdl-layout__drawer">
	<span class="mdl-layout-title">
		<img class="android-logo-image" src="/images/mdl/android-logo-white.png">
	</span>
	<nav class="mdl-navigation">
		{% for page in pages %}{% if page.nav %}<a class="mdl-navigation__link mdl-typography--text-uppercase" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}{% endfor %}
	</nav>
</div>




