
<!-- Variable pages to sort pages for navigation -->
{% assign pages = site.pages | sort:"weight"  %}

<!-- From: https://getmdl.io/templates/portfolio/ -->
<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
	<div class="mdl-layout__header-row portfolio-logo-row">
		<span class="mdl-layout__title">
			<div class="portfolio-logo"></div>
			<span class="mdl-layout__title">Eric Garcia's Portfolio</span>
		</span>
	</div>
	<div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
		<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
			{% for page in pages %}
			{% if page.nav %}
			{% if page.title %}
			<a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
			{% endif %}
			{% endif %}
			{% endfor %}
		</nav>
	</div>
</header>

<div class="mdl-layout__drawer mdl-layout--small-screen-only">
	<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
		{% for my_page in pages %}
		{% if my_page.title %}
		<a class="mdl-navigation__link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
		{% endif %}
		{% endfor %}
	</nav>
</div>