<!doctype html>
<html lang="en">

{% include head.html %}
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include header.html %}
    {% if site.google_analytics %}
      {% include analytics.html %}
    {% endif %}

    <main class="mdl-layout__content">
      <a name="top"></a>
      {{ content }}
    </main>

    {% include footer.html %}
  </div>
  <!-- Prismjs -->
  <script type="text/javascript" src={{ "/assets/js/prism.min.js" | prepend: site.baseurl }}>

  </script>
  <!-- MDL Lite js -->
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
