---
layout: default
---
<!-- 
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
 -->


<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title">
  <h2 class="mdl-card__title-text">{{ page.title }}</h2><br/>
  </div>
  <div class="mdl-card__media">
    <!-- Insert a variable for title image following the below format  -->
    <img class="article-image" src="/images/portfolio-example-01.jpg" border="0" alt="">
  </div>
  <div class="mdl-card__supporting-text">
    <!-- Insert a variable for tags post is related to using the below format -->
    <strong>Includes</strong>
    <span>Design, UX and Frontend Development</span>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </div>
  <div class="mdl-grid portfolio-copy">

    {{ content }}

  </div>
</div>
