---
layout: page
---

{% if page.image %}
<div class="mdl-card__media">
  <img class="article-image" src="{{page.image}}" border="0" alt="">
</div>
{% endif %}

<div class="mdl-card__supporting-text">
  <!-- Insert a variable for tags post is related to using the below format -->
  {% if page.tags %}
  <strong>Includes</strong>
  <span>{{ page.tags }}</span> {% endif %}

  <p class="post-meta"><time datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
</div>

<div class="mdl-grid">
  {{ content }}
</div>
